@import url('../css/fonts.css');
@import url('../css/reset.css');

#wrap{
    width: 100%;
    padding: 100px 0;
    button{
        width: 100px;
        height: 25px;        
        display: block;
        margin: 0 0 0 1500px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: rgb(0, 143, 12);
    }
    h1{
        text-align: center;
        padding: 30px 0 60px 0;
        font-size: 40px;
        font-weight: 600;
        color: rgb(0, 87, 19);
    }
    table{
        width: 1300px;
        margin: 0 auto;
        margin-bottom: 100px;
        border-collapse: collapse;
        border: 2px solid #333;        
        th{
            height: 40px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            background: rgb(56, 139, 18,0.5);
            color: #000;
            font-size: 16px;
        }
        td{
            text-align: center;
            height: 25px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000; 
            font-size: 14px;
            font-weight: 600;    
            background: rgba(108, 255, 89, 0.2); 
        }
        .con{
            width: 324.5px;
        }
 
       
        
        
        
   

    }
}