#wrap {
    width:100%;
    #header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;      
        .container {
            width: 100%;            
            .gap {
                width: 100%;
                padding: 0 40px;
                .content {
                    width: 100%;
                    padding: 0 311.5px;
                    ul {
                        .header-1 {
                            width: 100%;    
                            height: 56px; 
                            line-height: 56px;
                            display: flex;                                                
                            justify-content: space-between; 
                            .h1-left {                                
                                width: auto;
                                a {
                                    color: #494f60;
                                    font-size: 14px;
                                    font-weight: 600;
                                    font-family: 'OneShinhanL';                                    
                                    img {
                                        width: 16px;
                                        height: 16px;
                                    }
                                }
                                span {
                                    color: #ddd;
                                    padding: 0 13px;
                                }
                            }
                            .h1-right {
                                width: auto;
                                a {
                                    width: auto;
                                    color: #494f60;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                                span {
                                    color: #ddd;
                                    padding: 0 10px;
                                }
                            }

                        }
                        .header-2 {
                            width: 100%;
                            height: 74px; 
                            line-height: 74px;
                            display: flex;    
                            justify-content: space-between;                        
                            .h2logo {
                                a {
                                    img {
                                        width: 160px;
                                        height: 39px;
                                    }
                                }
                            }
                            .h2menu {
                                display: flex;
                                h3 {
                                    color: #333;
                                    font-size: 20px;
                                    font-weight: 600;
                                    padding: 0 15px;
                                }
                            }
                            .h2bar {
                                a {
                                    img {
                                        width: 32px;
                                        height: 32px;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }

}