#wrap {
    width: 100%;
    #main {
        width: 100%;
        #section1{
            width: 100%;
            padding: 130px 0 0 0;
            .contatiner{
                position: relative;
                z-index: 1;
                width: 100%;
                background: url(../images/main_bg_pc.png) no-repeat 50%;
                padding: 0 0 50px 0;
                .gap{
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    padding: 0 351.5px;
                    margin: 0 auto;
                    .content{
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        .search-box{
                            position: relative;
                            z-index: 1;
                            width: 100%;
                            padding: 60px 0;
                            text-align: center;
                            #search{
                                width: 700px;
                                height: 62px;
                                border: 2px solid #486eff;
                                border-radius: 5px;
                                padding: 15px;

                            }
                            ::placeholder{
                               font-size: 20px;  
                               font-weight: 600;
                               transform: translateY(3px);
                               color: #aaa;

                            }
                            img{
                                width: 32px;
                                height: 32px;
                            }
                        }
                        .menu-icon-box{
                            width: 100%;
                            height: 135px;
                            position: relative;
                            background: #fff;
                            .arrow{
                                position: absolute;
                                z-index: 4;
                                width: 40px;
                                height: 40px;
                                &.preview{
                                    top: 30%;
                                    left: -20px;
                                }
                                &.next{
                                    top: 30%;
                                    right: -20px;
                                }
                                a{
                                    width: 100%;
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                            .only-icon{
                                width: 1058px;
                                position: relative;
                                overflow: hidden;
                                z-index: 1;
                                .menu-icon{
                                    width: 100% * 2;
                                    height: 135px;
                                    display: flex;
                                    padding: 12px 71px;
                                    background: #fff;
                                    border-radius: 5px;

                                    li{
                                        width: 132px;
                                        display: block;
                                        text-align: center;
                                        margin: auto 0;
                                        a{                                       
                                            img{
                                                width: 100%; 
                                                padding: 0 35%;       
                                            }   
                                            p{
                                                font-size: 15px;
                                                font-family: 'OneShinhanM';  
                                                padding: 15px 0 0 0;
                                            }                                    
                                               
                                        }
    

                                    }
                                }

                            }



                            .pagepoint{
                                width: 100%;
                                height: 26px;
                                .bar-position{
                                    width: 28px;                                    
                                    margin: 0 auto;
                                    display: flex;
                                    align-items: center;                                    
                                    justify-content: space-between;                                    
                                    .bar{
                                        width: 6px;
                                        height: 6px;
                                        background: #ddd; 
                                        border-radius: 10px;                                        
                                        &.on{
                                            width: 16px;
                                            height: 6px;
                                            background: #383b5a;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
        #section2{
            width: 100%;
            .contatiner{
                width: 100%;
                .gap{
                    width: 100%;
                    padding: 0 351.5px;
                    .content{
                        width: 100%;
                        padding: 60px 0;
                        .slide{
                            width: 100%;
                            overflow: hidden;
                            .slide-box{
                                width: 100% * 1.5;
                                height: 200px;
                                a{
                                    position: relative;
                                    display: inline-block;
                                    width: 410px;
                                    height: 170px;                                
                                    padding: 0 30px;                                    
                                    border-radius: 15px;
                                    
                                    .slide{                                                                                
                                        display: flex;
                                        align-items: center;                                        
                                        width: 100%;
                                        height: 100%;                                        
                                        font-size: 20px;
                                        font-family: 'OneShinhanM';
                                        background: #f9f9f9;
                                        border-radius: 10px;
                                        &.item1{
                                            
                                            
                                        }
                                        &.item2{
                                            
                                            
                                        }
                                        &.item3{
                                            
                                            
                                        }
                                        &.item4{
                                            
                                            
                                        }
                                        h4{
                                            font-size: 20px;
                                            padding-left: 36px;
                                           
                                                   
                                        }
                                        img{
                                            position: absolute;                                            
                                            top: 15px;
                                            right: 0;
                                            width: 140px;
                                            height: 140px;
                                            

                                           
                                        }
                                    }
                                }
                                
                                .slidepoint{
                                    span{
                                        
                                    }
                                    .playbutton{}
                                    
                                    
                                }
                            }

                        }
                        hr{}
                    }
                }
            }
        }
        #section3{
            width: 100%;
            .contatiner{
                width: 100%;
                .gap{
                    width: 100%;
                    padding: 0 351.5px;
                    .title{                        
                        display: flex;  
                        padding: 0 0 60px 0;                      
                        .card-bdp{
                            font-size: 20px;
                            font-family: 'OneShinhanM';
                            color: #888;
                            padding: 0 30px 0 0 ;
                            &.on{
                                color: #000;
                                text-decoration: underline;
                                font-family: 'OneShinhanB';
                                padding-bottom: 10px;
                            }
                        }
                    }
                    .content{
                        width: 100%;
                        position: relative;
                        .card{
                            width: 100%;
                            height: 400px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            &.box1{}
                            &.box2{
                                display: none;
                            }
                            &.box3{
                                display: none;
                            }
                            
                            .card-info{
                                width: 100%;
                                height: 100%;
                                display: flex;                                                
                                justify-content: space-between;
                                                
                                a{
                                  display: inline-block;                                   
                                  
                                    img{
                                        
                                        width: 175px;
                                        height: 278px;
                                    }
                                    p{
                                        font-size: 16px;                                        
                                        font-family: 'OneShinhanM';
                                        padding: 20px 0;
                                        text-align: center;
                                    }
                                }
                            }
                            
                        }
                        .card-forsell{
                            width: 100%;                            
                            a{
                                width: 585px;
                                height: 80px;
                                background: #494f60;
                                .ingi{
                                    width: 100%;
                                    height: 100%;
                                    img{}
                                    h5{}
                                    .arrow{}
                                }
                                .forme{
                                    img{}
                                    h5{}
                                    .arrow{}
                                }                                
                            }

                        }
                    }
                }
            }
        }
        #section4{
            width: 100%;
            .contatiner{
                width: 100%;
                .gap{
                    width: 100%;
                    padding: 0 351.5px;
                    .title{
                        h3{}
                        h4{}
                    }
                    .content{
                        .loan{
                            .loanitem{
                                img{}
                                p{}
                                button{}
                            }
                        }
                    }
                }
            }
        }
        #section5{
            width: 100%;
            .contatiner{
                width: 100%;
                .gap{
                    width: 100%;
                    padding: 0 351.5px;
                    .content{
                        display: flex;
                        justify-content: space-between;
                        .alim{
                            width: 560px;
                            margin: 0 40px;
                            &.gongji{}
                            &.juwi{}
                            h2{
                                font-size: 14px;
                            }
                            p{
                                height: 46px;
                                font-size: 16px;

                                span{
                                    font-size: 11px;                                    
                                    color: #fc180f;
                                    background: #ffdde2;
                                    border-radius: 3px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}