#noticeLeft{
    width: 200px;
    > .container{
        width: 100%;
        .title{
            width: 100%;
            padding: 0 0 40px 0;
            h2{
                font-size: 28px;
                font-weight: 700;
                color: #333;
                font-family: 'Nanum Gothic';
            }

        }
        nav{
            width: 100%;
            ul{
                width: 100%;
                border: 1px solid #eee;
                li{
                    width: 100%;
                    border-top: 1px solid #ddd;
                    &:first-child{
                        border-top: 0;
                    }
                    a{
                        display: flex;                                                            
                        align-items: center;
                        width: 100%;
                        height: 50px;
                        color: #333;                                
                        text-indent: 20px;
                        transition: all 0.3s;
                        background: #fff url(../../../../../public/images/notice/icon_arrow_right_off.svg) no-repeat calc(100% - 15px);
                        &:hover{
                            font-weight: 600;
                            color: #5f0080;
                            background-color: #fafafa;
                            background-image: url(../../../../../public/images/notice/icon_arrow_right_on.svg);
                        } 
                        &.on_{
                            font-weight: 600;
                            color: #5f0080;
                            background-color: #fafafa;
                            background-image: url(../../../../../public/images/notice/icon_arrow_right_on.svg);
                        }
                    }
                }
            }
        }
        .bottom{
            width: 100%;
            padding: 40px 0 0 0;
            a{
                line-height: 160%;
                display: block;
                padding: 20px 0 15px 0;
                text-indent: 20px;
                background: rgb(250, 250, 250) url(../../../../../public/images/notice/icon_arrow_right_grey.svg) no-repeat calc(100% - 15px);
                span{
                    color: #333;
                    font-weight: 600;
                    display: block;
                    font-size: 14px;
                }
                em{
                    display: block;
                    font-size: 12px;
                }
            }
        }
    }

}