#wrap {
    width: 100%;
    #header {
        width: 100%;
        .container {
            width: 100%;
            .gap {
                width: 100%;
                .content {
                    width: 100%;
                    .row1 {
                        padding: 10px 0;
                        text-align: right;
                        .container {
                            width: 100%;
                            max-width: 1050px;
                            margin: 0 auto;
                            ul {
                                display: inline-flex;
                                li {
                                    font-size: 12px;
                                    margin: 0 0 0 10px;
                                    a {color: #5f0080;}
                                    i {color: #ccc;}
                                }
                            }
                        }

                    }
                    .row2 {
                        
                        padding: 10px 0 20px 0;
                        .container {
                            display: flex;
                            width: 100%;
                            max-width: 1050px;
                            margin: 0 auto;
                            .left {
                                width: 325px;
                                h1 {
                                    img {
                                        width: 82px;
                                    }
                                    span {
                                        margin: 0 13px;
                                        font-size: 18px;
                                        font-weight: 600;
                                        a {
                                            color: #5f0080;                                        
                                        }
                                        i {
                                            color: #ddd;
                                        }
                                        &:last-child(){
                                            a {
                                                color: #b5b5b5;
                                            }
                                        }
                                    }
                                }
                            }
                            .center {
                                width: 400px;
                                position: relative;
                                div {
                                    input {
                                        width: 100%;
                                        height: 48px;
                                        border: 1px, solid, #ccc;
                                        background: #fff;
                                        position: relative;
                                        z-index: 1;
                                        border-radius: 3px;
                                        padding: 0 15px;
                                        outline: 1px solid transparent;
                                        outline-offset: -1px;
                                        &:focus {
                                            outline: 1px solid #444;
                                        }
                                    }
                                    a {
                                        z-index: 2;
                                        position: absolute;
                                        top: 9px;
                                        right: 5px;
                                        width: 35px;
                                        height: 35px;                                    
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .right {
                                width: 325px;
                                text-align: right;
                                span {
                                    margin: 0 0 0 17px;
                                    a {
                                        img {width: auto;}
                                    }
                                }
                            }

                        }

                    }
                    .row3 {
                        width: 100%;
                        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
                        .container {
                            width: 100%;
                            max-width: 1050px;
                            margin: 0 auto;
                            display: flex;
                            height: 56px;
                            align-items: center;
                            justify-content: space-between;
                            .left {
                                width: 225px;
                                a {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        width: auto;

                                    }
                                    span {                                    
                                        margin: 0 0 0 10px;
                                        font-size: 16px;
                                        font-weight: 600;
                                        color: #333;
                                        transition: all 0.3s;
                                    }
                                    &:hover {
                                        color: #5f0080;
                                        
                                    }
                                }
                            }
                            .center {
                                width: 600px;
                                ul {
                                    display: flex;
                                    justify-content: space-between;                                
                                    li {
                                        
                                        a {
                                            font-size: 16px;
                                            font-weight: 600;
                                            color: #333;
                                            padding: 0 0 1px 0;
                                            border-bottom: 1px solid transparent;
                                            transition: all 0.3s;
                                            &:hover {
                                                color: #5f0080;
                                                border-color: #5f0080;
                                                
                                            }
                                        }
                                    }
                                }
                            }
                            .right {
                                width: 225px;
                                text-align: right;
                                a {
                                    color: #999;
                                    font-size: 13px;
                                    font-weight: 600;
                                    padding: 7px 15px 5px 15px ;
                                    border: 1px solid #ddd;
                                    border-radius: 15px;
                                    span {                                        
                                        color: #5f0080;
                                        vertical-align: baseline;
                                        margin: 0 0 0 2px;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}