@media all and (max-width:800px) {
    #wrap {
        #main {
            #section5 {


                .container {
        
        
                    .gap {
        
                        .title {
        
        
                            h2 {
        
                                  
                            }
                        }
                        .content {
        
                            .gallery-box {
        
                                ul {
        
                                    li {
                                        float: left;
                                        width: calc(100% / 3); 
                                      
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    
}

@media all and (max-width:600px) {
    #wrap {
        #main {
            #section5 {


                .container {
        
        
                    .gap {
        
                        .title {
        
        
                            h2 {
        
                                  
                            }
                        }
                        .content {
        
                            .gallery-box {
        
                                ul {
        
                                    li {
                                        float: left;
                                        width: calc(100% / 2); 
                                      
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media all and (max-width:500px) {
    #wrap {
        #main {
            #section5 {


                .container {
        
        
                    .gap {
        
                        .title {
        
        
                            h2 {
        
                                  
                            }
                        }
                        .content {
        
                            .gallery-box {
        
                                ul {
        
                                    li {
                                        float: left;
                                        width: calc(100% / 1); 
                                      
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }

}

