.loginstate{
    width: 100%;
    background: #f8f8f8;
    padding: 50px 0 60px 0;
    .shape{
        width: 770px;
        margin: 0 auto;
        background: #fff;
        display: flex;
        .left-box{
            width: 170px;
            border-right: 1px solid #eee;
            .my-info{
                width: 100%;
                padding: 25px 0 25px 20px;
                border-bottom: 1px solid #eee;
                h4{
                    color: #707070;
                    font-size: 14px;
                    span{
                        color: #ef3e42;
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
            }
            .tap{
                width: 100%;
                padding: 25px 0 0 20px;
                .tap-menu{
                    padding-bottom: 10px;
                    img{
                        width: 30px;
                        height: 30px;
                        background: url(../img/menu_icon.png) 0% 0%;
                        border-radius: 50%;
                    }
                    a{
                        font-size: 14px;
                        color: #202020;
                    }
                }
            }
        }
        .right-box{
            width: 600px;
            .right-wrap{
                width: 100%;
                padding: 50px;
                .title{
                    height: 40px;
                    border-bottom: 2px solid #707070;
                    h3{
                        font-size: 20px;
                        color: #202020;
                    }
                }
                .content{
                    
                    .top-txt{
                        padding: 25px 0 10px 0;
                        h3{
                            font-size: 20px;
                            color: #202020;
                            text-align: center;
                        }
                        :last-child{
                            color: #ef3e42;
                        }
                    }
                    .bottom-txt{
                        padding-bottom: 25px;
                        h6{
                            font-size: 13px;
                            color: #707070;
                            text-align: center;
                        }
                        h5{
                            font-size: 14px;
                            color: #202020;
                            text-align: center;
                        }
                    }
                    hr{
                        border: 1px solid #eee;
                    }
                    ul{
                        padding-top: 25px;
                        li{
                            display: flex;
                            padding-bottom: 10px;
                            span{
                                width: 150px;
                                font-size: 14px;
                                color: #707070;
                                
                            }
                            p{
                                font-size: 15px;
                                color: #202020;
                            }
                            .using{
                                color: #ef3e42;
                            }
                        }
                    }
                }

            }
        }
    }

}