@import url('./fonts.css');
@import url('./reset.css');
@import url('./skip.css');

#wrap {
    width: 100%;
    #skip {
        width: 100%;
        background: #f0f0f0;
    }
    #header {
        width: 100%;
        height: 100px;
        background: #c99;
    }
    #main {
        #section1 {
            width: 100%;
            height: 600px;
            background: #add;
        }
        #section2 {
            width: 100%;
            height: 600px;
            background: #654;
        }
        #section3 {
            width: 100%;
            height: 600px;
            background: #195;
        }
    }

    #footer {
        width: 100%;
        height: 300px;
        background: #888;

    }
}