@import url('../css/fonts.css');
@import url('../css/reset.css');

.svg-box{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    svg{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        .circle{ //SVG 원형
            fill: none;
            stroke: #38a;
            stroke-width: 50;
            stroke-linecap: round; //둥글게
            // stroke-linecap: butt;
            // stroke-dasharray: 1710;
            // stroke-dashoffset: 0;
            // animation: svgani 10s both;
        }
        // @keyframes svgani {
        //     from{stroke-dashoffset: 1710;}
        //     to  {stroke-dashoffset: 0;}
        // }
    }
    .number{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 8vh;
        font-weight: 600;
    }
}

.svg-box2{
    width: 800px;
    height: 160px;
    margin: 0 auto;
    position: relative;
    svg{
        width: 100%;
        path{
            fill: none;
            stroke: #38a;
            stroke-width: 1px;
        }
    }
}