#wrap{
    width: 100%;
    #header{
        width: 100%;
        .container{
            width: 100%;
            box-shadow: 0 3px 3px 0 #eee;
            .back-color{
                background: #f4f6f9;
                border-bottom: 1px solid #eee;
            }
            .gap{
                width: 1280px;
                margin: 0 auto;            
                .header-1{
                    height: 34px;
                    line-height: 34px;
                    display: flex;
                    justify-content: flex-end;
                    .sign{
                        a{
                            font-size: 8px;
                            padding: 0 7px;
                            
                        }
                    }
                }    
                .header-2{
                    height: 100px;
                    line-height: 100px;
                    display: flex;
                    justify-content: space-between;
                    .left{
                        position: relative;
                        .interpark{
                            img{
                                width: 173px;
                                height: 30px;
                            }
                        }
                        input{                       
                            width: 400px;
                            height: 42px;
                            border: 1px solid #ddd;
                            border-radius: 30px;
                            background: #f8f8f8;
                            margin-left: 60px;
                            
                        }
                        ::placeholder{
                            padding-left: 20px;
                            color: #666;
                            font-size: 14px;
                        }
                        .search{
                            position: absolute;
                            right: 3px;
                            top: 0;
                        }
                    }
                    .right{
                        .slide-box{
                            width: 200px;
                            height: 60px;
                            img{}
                        }
                    }
                }    
                .header-3{
                    height: 50px;
                    line-height: 50px;
                    display: flex;
                    justify-content: space-between;
                    .list{
                        a{
                            font-size: 14px;
                            font-weight: 600;
                            color: #000;
                            padding: 0 15px;
                        }
                    }
                    .sale{
                        width: 190px;
                        display: flex;
                        justify-content: space-between;
                        a{
                            font-size: 14px;
                            font-weight: 600;
                            color: #000;
                            img{                        
                                height: 20px;                                        
                            }
                        }
                       
                    }
                }    
            }
        }
    }


}